<VirtualHost *:80>
  ServerAdmin webmaster@{{ ansible_fqdn }}
  ServerName {{ ansible_fqdn }}
  DocumentRoot /var/www/vhosts/{{ inventory_hostname }}/

  <Directory /var/www/vhosts/{{ inventory_hostname }}>
    Options +Indexes +FollowSymlinks +Includes
    Order allow,deny
    Allow from all
    Require all granted
  </Directory>
</VirtualHost>